<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>steam friend night</title>
    <style>
        @keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
        * { animation: fade-in 0.12s; }
        body { font-family: 'Source Sans Pro', sans-serif }
    </style>
</head>
<body class="max-width-4 mx-auto my4 white bg-black">
    <div id="app"></div>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>